.password-wrapper {
  position: relative;
}

.icon-container {
  display: inline-block;
  position: absolute;
  right: 3%;
  top: 58%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #0171bc;
}

.icon-container:hover {
  opacity: 0.8;
}
