.form {
  display: flex;
  padding: 20px;
}

.form-group-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.form-input {
  /* margin-bottom: 20px; */
  padding: 7px 8px;
  border: 2px solid #0171bc;
  border-radius: 7px;
  width: 300px;
}

.form-error-message {
  color: red;
}

.shoeListMenu {
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  font-family: "Poppins";
}

.shoeListWrapper {
  position: absolute;
  overflow: auto;
  max-height: 150px;
  margin-top: 10px;
  border-radius: 10px;
  min-width: 180px;
  background-color: white;
}

.addOrderFormButton {
  display: flex;
  margin-top: 10px;
  align-items: end;
  justify-content: flex-end;
}

.shoeListWrapper div {
  display: flex;
  justify-content: space-between;
  padding: 0 7px;
  font-family: "Poppins";
}

.form-add-button {
  background-color: #2e7d32;
  padding: 9px;
  color: white;
  border: none;
  border-radius: 3px;
  transition: 0.2s;
  margin: 10px;
}

.form-add-button:hover {
  background-color: #1b5e20;
  cursor: pointer;
}

.shoe-details {
  margin: 10px;
}
