.sideNavWrapper {
  min-width: 250px;
  height: calc(100vh - 70px);
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-bottom: none;
  background-color: #ffffff;
}

.sideNavMenu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoutButton {
  background-color: #0371bc;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
